html {
    background-color: #6E297B;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.questionmark {
    background-color: transparent;
    color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.questionmarksize {
    height: 40px;
    width: 40px;
}

.square {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #201131;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.square2 {
    position: absolute;
    width: 360px;
    height: 120px;
    background: #201131;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.square3 {
    position: absolute;
    width: 200px;
    height: 120px;
    background: #201131;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-start: 1.5em;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.play {
    cursor: pointer;
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

canvas {
    margin-top: -10px;
    position: absolute;
    width: 100%;
    height: 101%;
    background-color: transparent; 
    color: transparent; 
    z-index: -100; 
    opacity: 25%;
    visibility: hidden;
}

div.modal-congrats {
    visibility: hidden;
}

.daily-music {
    display: flex;
    margin-left: 31%;
}

.daily-music-player {
    
}
