html {
    background-color: #6E297B;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionmark {
    background-color: transparent;
    color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.questionmarksize {
    height: 40px;
    width: 40px;
}

.square {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #201131;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.square2 {
    position: absolute;
    width: 360px;
    height: 120px;
    background: #201131;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.square3 {
    position: absolute;
    width: 200px;
    height: 120px;
    background: #201131;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.round {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-top: 20px;
    background: white;
    cursor: pointer;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-start: 1.5em;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3.ranking {
    color: #D4AF37 !important;
}

h3.gold {
    color: #ffd700
}

h3.silver {
    color: #c0c0c0
}

h3.bronze {
    color: #cd7f32
}

h3.daily {
    color: #cd7f32;
    margin-block-start: 0.4em;
    cursor: pointer;
}

.play {
    cursor: pointer;
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

canvas {
    margin-top: -10px;
    position: absolute;
    width: 100%;
    height: 101%;
    background-color: transparent; 
    color: transparent; 
    z-index: -100; 
    opacity: 25%;
    visibility: hidden;
}

div.modal-congrats {
    visibility: hidden;
}

.daily-music {
    display: flex;
    margin-left: 31%;
}

.daily-music-player {
    
}

input.nick {
    font-size: 28px;
    width: 450px;
    margin-left: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    border-color: transparent;
}

a {
    margin-left: 350px;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Noto Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white
}

img#sharebutton {
    cursor: pointer;
}